@font-face {
    font-family: raleway;
    src: url(https://fonts.googleapis.com/css?family=Raleway:800);
}

body {
    background-image: url("bg.jpg");
    background-size: cover;
}

div {
    color: darkgrey;
}

input,
select {
    background-color: lightblue;
}

input:focus,
select:focus {
    background-color: orange;
}

h1 {
    text-align: center;
    text-decoration: underline;
    color: #f60;
    font-family: raleway, Arial, Helvetica, sans-serif;
}

option:checked, option:hover {
    background: blue;
    color: whitesmoke;
}